<div class="container">
  <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="logout-form">
              <h1>Are you sure you want to Logout?</h1>
              <button type="logout" name="logout">Logout</button>
              <button class="btn btn-danger" type="button" name="button"></button>
