<div class="container">
  <div class="row">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form action="/sign-up" method="post">
                 <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstName" type="text" class="form-control" placeholder="First Name" value="{{sign-up.firstName}}">
                 </div>
                 <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" type="text" class="form-control" placeholder="Last Name" value="{{sign-up.lastName}}">
                 </div>
                  <div class="form-group">
                     <label for="email">Email</label>
                     <input name="email" type="text" class="form-control" placeholder="Email" value="{{sign-up.email}}">
                  </div>
                  <div class="form-group">
                     <label for="password">Password</label>
                     <input name="password" type="password" class="form-control" placeholder="Password" value="{{sign-up.password}}">
                  </div>
                  <a class="btn btn-link" href="/login">Login</a>
                  <button type="submit" class="btn btn-secondary">Register</button>
               </form>
            </div>
         </div>
      </div>
    </div>
  </div>
